/* Past Executive Board */

#past-board-group-pic-one {
    width: 80%;
    object-fit: cover;
    z-index: -1;
    margin: 5% 10% 5% 10%;
}


/* Executive board */

#board-group-pic {
    position: absolute;
    top: 110vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    object-fit: cover;
    z-index: -1;
}

#board-group-pic-one {
    position: absolute;
    top: 120vh;
    left: 10vw;
    width: 7vw;
    height: 7vw;
    object-fit: cover;
    filter: brightness(50%);
}

#board-group-pic-two {
    position: absolute;
    top: 135vh;
    left: 10vw;
    width: 7vw;
    height: 7vw;
    object-fit: cover;
    filter: brightness(50%);
}

#board-group-pic-three {
    position: absolute;
    top: 150vh;
    left: 10vw;
    width: 7vw;
    height: 7vw;
    object-fit: cover;
    filter: brightness(50%);
}

#board-group-pic-four {
    position: absolute;
    top: 165vh;
    left: 10vw;
    width: 7vw;
    height: 7vw;
    object-fit: cover;
    filter: brightness(50%);
}

#board-group-pic-five {
    position: absolute;
    top: 180vh;
    left: 10vw;
    width: 7vw;
    height: 7vw;
    object-fit: cover;
    filter: brightness(50%);
}


/* SIA Executive Board 2020-2021 */

.exec-title {
    text-shadow: 5px 5px 5px rgb(197, 197, 197);
}

.flex-container {
    max-width: 1140px;
    margin: auto;
    position: relative;
    min-height: 1px;
}

.team {
    min-height: 100vh;
    padding: 60px 15px;
    float: left;
    width: 100%;
}

.team h1 {
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 3%;
    color: #7c7c7c;
    padding-bottom: 60px;
    text-align: center;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: 0.5s;
}

.team .card {
    width: 25%;
    float: left;
    margin-bottom: 50px;
}

.team .card .box {
    padding: 30px 15px 0px 15px;
    background-color: #e5f4fd;
}
/* .team .card .box:hover {
    animation: fadeUp 3s forwards;
} */

.team .card .box img:hover {
    transition: margin 1s ease, box-shadow 1s ease;
    box-shadow: 0px 0px 40px black; 
}

.exec-person-pic {
    width: 170px;
    height: 230px;
    display: block;
    object-fit: cover;
    margin: 30px auto;
    border-radius: 50%;
    cursor: pointer;
}

.team h4 {
    font-size: 20px;
    margin: 20px 0px 10px;
    color: #fbac43;
    text-align: center;
}

.team h5 {
    font-size: 16px;
    margin: 0px 0px 15px;
    color: #a0a0a0;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(228, 228, 228);
}

@media(max-width: 991px) {
    .team .card {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:550px) {
    .team .card {
        width: 65vw;
        margin-left: 15vw;
    }
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    overflow: scroll;
    text-align: center;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 700px) {
    /* Modal Content (image) */
    .modal-content {
        position: absolute;
        top: 15%;
        left: 10vw;
        width: 30%;
        height: 70%;
        object-fit: cover;
        max-width: 700px;
    }
    /* Caption of Modal Image */
    .caption {
        position: absolute;
        top: 20%;
        left: 50%;
        width: 40vw;
        max-width: 700px;
        font-size: 2rem;
        text-align: center;
        color: #ccc;
        line-height: 3rem;
    }
    .caption h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
        padding-bottom: 60px;
        text-align: center;
        line-height: 50px;
    }
    .caption h2 {
        font-size: 30px;
        font-weight: 700;
        color: white;
        padding-bottom: 60px;
        text-align: center;
    }
    /* Add Animation */
    .modal-content,
    .caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        position: relative;
        align-self: center;
        width: 60%;
    }
    .caption {
        align-self: center;
        padding: 0 10% 10% 10%;
        font-size: 1.5rem;
        line-height: 2rem;
        overflow: scroll;
    }
    .caption h1 {
        font-size: 30px;
        font-weight: 700;
        color: white;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .caption h2 {
        font-size: 20px;
        text-align: center;
        padding-bottom: 5%;
    }
}