/* font-family: 'Alex Brush', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

/* font-family: 'Thasadith', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* font-family: 'Montserrat', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Open Sans Condensed', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

/* getting rid of link_to underline */

@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');

/*Global styles*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Open Sans Condensed', sans-serif;
    --secondary-font: 'Alex Brush', cursive;
    --body-font: 'Open Sans Condensed', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #ffb13c;
    --body-font-color: #515151;
}

html {
    font-family: var(--body-font);
    font-size: 16px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

section {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}


/* 
p{
    font-size: 1.6rem;
    font-size: 100%;
} */

h1 h3 h4 h5 h6 {
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
}

h2 {
    color: var(--secondary-font-color);
    font-family: var(--body-font);
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}


/*header*/

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
}

.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times {
    display: none;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times {
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}

.open .nav::before {
    opacity: 1;
    transform: scale(1);
}

.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color.5s;
}

.nav-link:hover {
    color: var(--secondary-font-color);
}


/*Hero*/

.hero {
    width: 100%;
    height: 100vh;
    background: url("images/index/hawa-mahal.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.event-hero {
    width: 100%;
    height: 80vh;
    background: url("images/events/Optimized-IMG_0834.JPG") center no-repeat;
    background-size: cover;
    background-position: top left;
    display: flex;
    align-items: flex-end;
    align-items: center;
    text-align: center;
}

.sub-headline {
    font-size: 6.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: 0.5s;
}

.blur-back {
    backdrop-filter: blur(8px);
    z-index: 0;
    color: #fff;
    text-align: center;
    padding: 7vh 5vw 0 3vw;
    width: 500px;
}

.first-letter {
    text-transform: uppercase;
    font-size: 5rem;
}

.headline {
    color: #fff;
    font-size: 3.3rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    animation: scale .5s forwards;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    max-width: 16.8rem;
    height: .25rem;
    background-color: #fff;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: .9s;
}

.single-animation {
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.headline-description h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.global-headline {
    text-align: center;
    margin-top: 3.9rem;
}

.discover-our-events .global-headline {
    margin-top: 6.9rem;
}

.headline-dark {
    color: var(--main-font-color-dark);
    margin-right: -.7rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.global-headline .sub-headline {
    letter-spacing: -1px;
    line-height: .7;
    margin-bottom: 1rem;
    font-size:3rem;
}

.events-info {
    text-align: center;
}

.events-description {
    margin-bottom: 3rem;
}

.events-description p {
    line-height: 1.6;
    margin-bottom: 2.4rem;
    font-size: 1em;
}


/*Past events*/

.past-events {
    background: url("images/index/past-events.jpg") center no-repeat;
    background-size: cover;
}

.between {
    min-height: 30vh;
    /* display: flex; */
    align-items: center;
}


/*Several images*/

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

/*Footer*/

footer {
    padding: 5rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
}

.back-to-top {
    width: 7rem;
    height: 7rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i {
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    animation: up 2s infinite;
}

.footer-content {
    overflow: hidden;
}

.footer-content h4 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content-about {
    margin-bottom: 4rem;
}

.footer-content-about p {
    line-height: 2;
}

.social-icons {
    list-style: none;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 2rem;
    color: #fff;
    padding: .8rem 2rem;
    opacity: .5;
    transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus {
    color: var(--secondary-font-color);
}


/*Media queries*/

@media screen and (min-width: 900px) {
    .hero {
        background-position: top;
    }
    section {
        /* padding: 7.9rem; */
        padding-left: 15rem;
        padding-right: 15rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .menu-toggle {
        display: none;
    }
    .nav {
        justify-content: space-between;
    }
    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
    .nav-item {
        margin: 0 2.4rem;
        border: none;
    }
    .nav-item:last-child {
        margin-right: 0;
    }
    .nav-link {
        font-size: 1.3rem;
    }
    .active {
        position: relative;
    }
    .active::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }
    .events-info {
        display: flex;
        align-items: center;
    }
    .events-info>div {
        flex: 1;
    }
    .padding-right {
        padding-right: 5rem;
    }
    /* .footer-content{
        max-width: 77.5rem;
        margin: auto;
    }

    .footer-content-about{
        max-width: 51.3rem;
    } */
    /* .footer-content-divider{
        display: flex;
        justify-content: space-between;
    } */
    /* .social-media,
    .newsletter-form{
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    } */
    .social-icons i {
        opacity: 1;
    }
}


/*Animations*/

@keyframes fadeUp {
    0% {
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grow {
    0% {
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@keyframes fadeDown {
    0% {
        transform: translateY(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes up {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-1rem);
    }
}

@media screen and (min-width: 600px) {
    /* Index Page */
    #what_is_sia_text {
        position: absolute;
        left: 62vw;
        top: 130vh;
        right: 10vw;
        text-align: center;
        backdrop-filter: blur(8px);
        z-index: 0;
        color: black;
    }
    #what-is-sia-title {
        opacity: 0;
        animation: fadeUp .5s forwards;
        animation-delay: 0.5s;
        font-size: 2.5vw;
    }
    .what-is-sia-intro {
        position: relative;
        padding-top: 20px;
        line-height: 3rem;
        text-align: center;
        font-size: 1.3vw;
    }
    #darkgrey-rect-decor {
        position: absolute;
        left: 30vw;
        top: 150vh;
        width: 60vw;
        height: 35vh;
        background: #8e8e8e;
        z-index: -1;
    }
    #lightgrey-rect-decor {
        position: absolute;
        left: 15vw;
        top: 131vh;
        width: 40vw;
        height: 45vh;
        background: #f2f2f2;
        z-index: -1;
    }
    #holi-fest {
        position: absolute;
        left: 8vw;
        top: 110vh;
        width: 32vw;
        height: 35vh;
        object-fit: cover;
    }
    #holi-girl {
        position: absolute;
        left: 10vw;
        top: 160vh;
        width: 16vw;
        height: 36vh;
        object-fit: cover;
    }
    #masala {
        position: absolute;
        left: 44vw;
        top: 118vh;
        width: 14vw;
        height: 28vh;
        object-fit: cover;
    }
    #diwali {
        position: absolute;
        left: 32vw;
        top: 157vh;
        width: 27vw;
        height: 30vh;
        object-fit: cover;
    }
    #index-orange-rect {
        position: absolute;
        left: 59vw;
        top: 233vh;
        width: 14vw;
        height: 25vh;
        background: #fbdeb2;
    }
    #index-green-rect {
        position: absolute;
        left: 50vw;
        top: 264vh;
        width: 14vw;
        height: 33vh;
        background: #b2fbc5;
        z-index: -1;
    }
    #index-blue-rect {
        position: absolute;
        left: 83vw;
        top: 267vh;
        width: 13vh;
        height: 13vh;
        background: #d0e9fa;
        z-index: 1;
    }
    #seniors-dance-pic {
        position: absolute;
        left: 32vw;
        top: 216vh;
        width: 28vw;
        height: 20vh;
        object-fit: cover;
    }
    #pumpkin-carving-pic {
        position: absolute;
        left: 72vw;
        top: 219vh;
        width: 14vw;
        height: 25vh;
        object-fit: cover;
        z-index: -1;
    }
    #soph-dance-pic {
        position: absolute;
        left: 62vw;
        top: 248vh;
        width: 24vw;
        height: 25vh;
        object-fit: cover;
    }
    #big-little-pic {
        position: absolute;
        rotate: 90;
        left: 42vw;
        top: 282vh;
        width: 13vw;
        height: 20vw;
        object-fit: cover;
        transform: rotate(90deg);
    }
    #freshmen-mixer {
        position: absolute;
        left: 70vw;
        top: 277vh;
        width: 14vw;
        height: 25vh;
        object-fit: cover;
    }
    #become-a-member-today {
        font-size: 2.0vw;
        margin-bottom: 10px;
    }
    #membership-text {
        position: absolute;
        left: 8vw;
        top: 238vh;
        right: 55vw;
        background-color: #f1f9ff;
        padding: 3vw;
        font-size: 1.2vw;
        z-index: -1;
        text-align: center;
    }
    .index-page-footer {
        position: absolute;
        top: 350vh;
        width: 100%;
    }
    /* .application-section {
    position: absolute;
    left: 30vw;
    top: 320vh;
    width: 40vw;
    font-size: 1.5rem;
    padding: 5px;
    text-align: center;
    }

    .application-section a {
        padding: 5px;
        background-color: lightgrey;
    } */

    .applications {
        position: absolute;
        left: 25vw;
        top: 320vh;
        width: 50vw;
        font-size: 2.5rem;
        padding: 5px;
        text-align: center;
    }


    .membership-form {
        position: absolute;
        left: 30vw;
        top: 330vh;
        width: 40vw;
        font-size: 2rem;
        padding: 5px;
        background-color: lightgrey;
        text-align: center;
    }

    .membership-form:hover{
        transition: margin 1s ease, box-shadow 1s ease;
        box-shadow: 0px 0px 30px rgb(114, 114, 114); 
    }

    .big-little-form {
        position: absolute;
        left: 30vw;
        top: 335vh;
        width: 40vw;
        font-size: 1.5rem;
        padding: 5px;
        background-color: lightgrey;
        text-align: center;
    }

    .freshman-liaison-form {
        position: absolute;
        left: 30vw;
        top: 340vh;
        width: 40vw;
        font-size: 1.5rem;
        padding: 5px;
        background-color: lightgrey;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #what_is_sia_text {
        position: relative;
        top: -3vh;
        text-align: center;
    }
    #lightgrey-rect-decor {
        position: absolute;
        left: 40vw;
        top: 133vh;
        width: 30vw;
        height: 15vh;
        background: #e2e2e2;
        z-index: -1;
    }
    #darkgrey-rect-decor {
        position: absolute;
        top: 160vh;
        left: 30vw;
        width: 60vw;
        height: 35vh;
        background: #8e8e8e;
        z-index: -1;
    }
    #holi-fest {
        position: relative;
        left: -3vw;
        top: 5vh;
        width: 40vw;
        height: 35vh;
        object-fit: cover;
    }
    #masala {
        position: relative;
        left: 8vw;
        top: 10vh;
        width: 35vw;
        height: 28vh;
        object-fit: cover;
    }
    #holi-girl {
        position: relative;
        left: 1vw;
        top: 3vh;
        width: 35vw;
        height: 30vh;
        object-fit: cover;
    }
    #diwali {
        position: relative;
        left: 10vw;
        top: 15vh;
        width: 40vw;
        height: 36vh;
        object-fit: cover;
    }
    #become-a-member-today {
        position: relative;
        font-size: 5vw;
        text-align: center;
    }
    #membership-text {
        position: relative;
        top: -5vh;
        margin: 2.4rem;
        text-align: center;
    }
    #index-orange-rect {
        position: relative;
        left: 29vw;
        width: 34vw;
        height: 25vh;
        background: #fbdeb2;
    }
    #index-green-rect {
        position: relative;
        left: 15vw;
        top: 5vh;
        width: 40vw;
        height: 33vh;
        background: #b2fbc5;
        z-index: -1;
    }
    #index-blue-rect {
        position: relative;
        left: 65vw;
        top: -17vh;
        width: 33vw;
        height: 13vh;
        background: #d0e9fa;
        z-index: -1;
    }
    #seniors-dance-pic {
        position: relative;
        top: -70vh;
        left: 8vw;
        width: 38vw;
        height: 20vh;
        object-fit: cover;
    }
    #pumpkin-carving-pic {
        position: relative;
        left: 20vw;
        top: -77vh;
        width: 34vw;
        height: 25vh;
        object-fit: cover;
        z-index: 0;
    }
    #soph-dance-pic {
        position: relative;
        left: 50vw;
        top: -75vh;
        width: 44vw;
        height: 20vh;
        object-fit: cover;
    }
    #freshmen-mixer {
        position: relative;
        left: 10vw;
        top: -90vh;
        width: 33vw;
        height: 27vh;
        object-fit: cover;
    }
    #big-little-pic {
        position: relative;
        left: 10vw;
        top: -43vh;
        width: 34vw;
        height: 25vh;
        object-fit: cover;
        transform: rotate(90deg);
    }
    .applications{
        position: absolute;
        left: 12vw;
        top: 350vh;
        /* width: 40vw; */
        font-size: 8vw;
        /* padding: 5px; */
        text-align: center;
    }
    
    .membership-form {
        position: absolute;
        left: 20vw;
        top: 360vh;
        width: 60vw;
        font-size: 5vw;
        padding: 5px;
        background-color: lightgrey;
        text-align: center;
    }
    
    .membership-form:hover{
        transition: margin 1s ease, box-shadow 1s ease;
        box-shadow: 0px 0px 30px rgb(114, 114, 114); 
    }

    .social-icons i {
        font-size: 2rem;
        color: #fff;
        padding: .8rem 1rem;
        opacity: .5;
        transition: color .5s;
    }
}

@media screen and (max-width: 400px) {
    .first-letter{
        font-size: 5rem;
    }
    .welcome-sub-headline{
        font-size: 5rem;
    }

    .applications{
        position: absolute;
        top: 380vh;
    }
    .membership-form{
        position: absolute;
        top: 390vh;
    }
}